$color-text-main: #0d319c;
$color-text-accent: #ffffff;
$color-carousel-default: #ffffff;
$color-carousel-selected: #f78b1f;
$color-slider-scale: rgba(255, 255, 255, 0.3);
$color-slider-fill: #d1eaff;
