.slide-1 {
  background-color: #72b9fd;
  background-image: url("../img/bg-1.jpg");
  background-repeat: no-repeat;
  background-size: cover;

  height: calc(100vh - 1px);
  border-top: 1px solid transparent;
  position: relative;
}

.slide-1__heading {
  margin: 0;
  margin-left: 70px;
  margin-top: 130px;
  width: 700px;

  color: $color-text-main;
  font-weight: 400;
  font-size: 50px;
  line-height: 60px;
}

.slide-1__terms {
  color: $color-text-main;
  font-weight: 400;
  font-size: 20px;

  position: absolute;

  &--1 {
    top: 255px;
    left: 625px;
  }

  &--2 {
    top: 375px;
    left: 225px;
  }

  &--3 {
    top: 485px;
    left: 370px;
  }

  &--4 {
    top: 465px;
    left: 790px;
  }
}
